* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.home {
  height: 100vh;
}

.category-aktif{
  background-color: #212529;
  color: white;
}

.hasil {
  max-height: 400px ;
}

.overflow-auto::-webkit-scrollbar{
  display: none;
}

.menu{
  height: 500px;
}